&INPUT_PARAM

  meshfile_path='',
  meshfile='forward_facing_quad.msh'

  use_cylinder_map = .false.
  dim_cylinder_map = 2

  n_iter_print=1000
  n_iter_write_sol=10000000
  n_max_iter=100000000
  final_res=1e-20
  tmax=4.0

  second_order = SECOND_ORDER_PLACEHOLDER
  method = METHOD_PLACEHOLDER,
  activate_diffusion = .false.

  local_time_step=.false.
  cfl=0.6

  init_uniform=.true.,
  sol_uniform=1.4, 3., 0., 0., 1.

  n_bc=2,
  bc_name='inlet','outlet',
  bc_type='freestream','outflowsupersonic',
  bc_val=1.4, 3., 0., 0., 1.
        1.4, 3., 0., 0., 1.

  bc_type_V='','',
  bc_val_V=0., 0., 0.
           0., 0., 0.

  bc_type_T='','',
  bc_val_T=0., 0.

  bc_style = 1,
  boundary_2d=.true.
  exclude_bound_vert=.false.

  scheme='SCHEME_PLACEHOLDER',

  write_residual=.false.
  n_iter_residual=1000
  /
