&INPUT_PARAM

  meshfile_path='',
  meshfile='1drp.msh'

  use_cylinder_map = .false.
  dim_cylinder_map = 2

  n_iter_print=10000
  n_iter_write_sol=10000
  n_max_iter=10000
  final_res=1e-12

  second_order = .false.
  method = 0,
  activate_diffusion = .false.

  local_time_step=.false.

  tmax=0.8
  cfl=0.8

  !mu_p = 1.1343085e-4
  !gamma = 1.4
  !Cv_p = 720.1947102286211
  !kappa = 0.16059252171830984

  use_sutherland = .true.
  mu0 = 1.789e-5
  T0 = 288.

  init_uniform=.false.,
  sol_uniform=1e-3, 5000., 0., 0., 57.615576818289696

  init_1drp = .true.
  x1drp=0.5
  sol_w_1drp_l = 1.0, 2, 0, 0, 0.1,
  sol_w_1drp_r = 1.0, -2., 0, 0, 0.1,

  n_bc=2,
  bc_name='left_surf','right_surf',
  bc_type='freestream', 'freestream',
  bc_val=1.0, 2, 0, 0, 0.1,
  1.0, -2., 0, 0, 0.1,

  bc_type_V='', '','dirichlet', 
  bc_val_V=0., 0., 0.
  0., 0., 0.,
  0., 0., 0.,

  bc_type_T='', '','dirichlet', 
  bc_val_T=0., 0., 500.

  bc_style = 2,
  boundary_2d=.false.
  exclude_bound_vert=.false.

  scheme='SCHEME_PLACEHOLDER',

  write_residual=.false.
  n_iter_residual=10

  plot_solution_dat = .true.
  xmin_dat = -1000., xmax_dat=1000
  ymin_dat = -1000., ymax_dat=1000
  zmin_dat = -1000., zmax_dat=1000

  compute_coeffs = .false.,
  coeffs_surf = 3,

  rhoinf = 1e-3,
  vinf = 5000.,
  pinf = 57.615576818289696,
  /
