&INPUT_PARAM

  meshfile_path='',
  meshfile='sphere_radial.msh'

  use_cylinder_map = .false.

  n_iter_print=1000
  n_iter_write_sol=10000
  n_max_iter=10000
  final_res=1e-12

  local_time_step=.true.
  cfl = 1e10
  tmax = 20000.0

  second_order = SECOND_ORDER_PLACEHOLDER
  method = METHOD_PLACEHOLDER,
  activate_diffusion = .false.

  init_potential_flow_3d=.true.,

  n_bc=1,
  bc_name='sphere_out',
  bc_type='potential_flow_3d',
  bc_val=1.4, 0., 0., 0., 1.0

  bc_type_V='',
  bc_val_V=0., 0., 0.

  bc_type_T='',
  bc_val_T=0.

  bc_style = 2,
  boundary_2d=.false.
  exclude_bound_vert=.false.

  scheme='SCHEME_PLACEHOLDER',

  write_residual=.true.
  n_iter_residual=1

  rhoinf = 1.4,
  vinf = 0.0001,
  pinf = 1.0,
  /
