&INPUT_PARAM
  meshfile_path=''
  meshfile='MESH_PLACEHOLDER'

  boundary_2d = .true.

  sol_uniform=1.0, 0., 0., 0., 1.0,
  t_max = 1.0
  cfl = 0.1

  scheme = 'SCHEME_PLACEHOLDER'
  second_order = .false.

  init = 1

  n_sol_vtu = 11
  n_bc=0
  /
